@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  font-family: "Raleway", sans-serif;
}
#heading {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url("./assets/images/thumb-1920-403408\ 1gotthumbnail.png");

  width: 100vw;
  height: 70vh;
  padding-bottom: 10vh;
  left: 0px;
  top: 0px;
  color: #ffffff;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 129px;
  text-align: center;
  justify-content: flex-end;
}
